<!-- build:section layout.header -->
<!-- /build -->
    <main class="main-content">
        <div class="left-menu">
            <div class="left-menu__barcod">
                <ul>
                    <li><a href="#x">Главная</a> /</li>
                    <li>Франшиза сети</li>
                </ul>
            </div>
            <div class="text-transform"><span>Франшиза сети</span></div>
            <div class="left-menu__line">
                <a href="#navfirst" class="red"></a>
                <a href="#navsecond"></a>
                <a href="#navthird"></a>
                <a href="#navfourth"></a>

            </div>
            <div class="social-btn">
                <ul>
                    <li class="twitter"><a href="#x">Twitter</a></li>
                    <li class="facebook"><a href="#x">Facebook</a></li>
                    <li class="vkontakte"><a href="#x">Vkontakte</a></li>
                </ul>
            </div>
        </div>
        <div class="right-path">
            <section id="navfirst" class="slider-top__wrap">
                <div id="slider-top">
                    <div class="slider-top">
                        <div class="slider-top__img">
                            <img src="img/slider-top.jpg">
                            <div class="slider-top__text-wrap">
                                <a href="#x" class="slider-top__logo"><img src="img/top-slider-logo.png"></a>
                                <p class="slider-top__text">Инвестиции:</p>
                                <p class="slider-top__text-red ">от 1 миллиона</p>
                                <a href="#x" class="apply">+ Подать заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-top">
                        <div class="slider-top__img">
                            <img src="img/slider-top.jpg">
                            <div class="slider-top__text-wrap">
                                <a href="#x" class="slider-top__logo"><img src="img/top-slider-logo.png"></a>
                                <p class="slider-top__text">Бизнес рентабельность:</p>
                                <p class="slider-top__text-red ">24-26%</p>
                                <a href="#x" class="apply">+ Подать заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-top">
                        <div class="slider-top__img">
                            <img src="img/slider-top.jpg">
                            <div class="slider-top__text-wrap">
                                <a href="#x" class="slider-top__logo"><img src="img/top-slider-logo.png"></a>
                                <p class="slider-top__text">Окупаемость бизнеса</p>
                                <p class="slider-top__text-red ">1-4 <span>года для проектов с нуля</span></p>
                                <a href="#x" class="apply">+ Подать заявку</a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section id="navsecond">
                <div class="about clear-fix">
                    <div class="about-text">
                        <p class="about__title">Кто мы</p>
                        <ul>
                            <li>Работаем с <span>2011 года</span></li>
                            <li><span>2 своих центра</span> (Пресненский, Мед7)</li>
                            <li><span>3 франчайза</span><br>(Кунцевский, Кутузовский, МХЦ)</li>
                        </ul>
                        <a href="#x" class="apply">+ Подать заявку</a>
                        <a href="#x" class="go-to">Об истории бренда</a>
                    </div>
                    <div class="about-slider__wrap">
                        <div id="about-slider">
                            <div class="about-slider">
                                <div class="about-slider__img">
                                    <img src="img/slider-about.jpg">
                                </div>
                                <p>Спортзал в МХЦ 1</p>
                            </div>
                            <div class="about-slider">
                                <div class="about-slider__img">
                                    <img src="img/slider-about.jpg">
                                </div>
                                <p>Спортзал в МХЦ 2</p>
                            </div>
                            <div class="about-slider">
                                <div class="about-slider__img">
                                    <img src="img/slider-about.jpg">
                                </div>
                                <p>Спортзал в МХЦ 3</p>
                            </div>
                            <div class="about-slider">
                                <div class="about-slider__img">
                                    <img src="img/slider-about.jpg">
                                </div>
                                <p>Спортзал в МХЦ 4</p>
                            </div>
                            <div class="about-slider">
                                <div class="about-slider__img">
                                    <img src="img/slider-about.jpg">
                                </div>
                                <p>Спортзал в МХЦ 5</p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section id="navthird">
                <p class="video-slider__title">Видеообращения<br>директоров центра</p>
                <div id="video-slider">
                    <div class="video-slider">
                        <div class="video-slider__img">
                            <img src="img/slider-bottom.jpg">
                        </div>
                        <div class="video-slider__inner">
                            <div class="video-slider__inner-img">
                                <img src="img/author.jpg">
                                <div class="video-slider__inner-text">
                                    <p class="video-slider__inner-name">Иванов<br>Иван Иванович</p>
                                    <p>Коммерческий директор сети <q>Открытая клиника</q>, генеральный директор
                                        Пресненского центра</p>
                                    <a href="#x" class="apply">+ Подать заявку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-slider video-slider__ex">
                        <div class="video-slider__img">
                            <iframe src="http://player.vimeo.com/video/17914974" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            <!--<img src="img/slider-bottom.jpg">-->
                        </div>
                        <div class="video-slider__inner">
                            <div class="video-slider__inner-img">
                                <img src="img/author.jpg">
                                <div class="video-slider__inner-text">
                                    <p class="video-slider__inner-name">Иванов<br>Иван Иванович</p>
                                    <p>Коммерческий директор сети <q>Открытая клиника</q>, генеральный директор
                                        Пресненского центра</p>
                                    <a href="#x" class="apply">+ Подать заявку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-slider">
                        <a class="link" href="http://www.youtube.com/watch?v=X7U4kd_L0f0" data-rel="media">
                            <div class="video-slider__img">
                                <img src="img/slider-bottom.jpg">
                            </div>
                            <div class="video-slider__inner">
                                <div class="video-slider__inner-img">
                                    <img src="img/author.jpg">
                                    <div class="video-slider__inner-text">
                                        <span class="video-slider__inner-name">Иванов<br>Иван Иванович</span>
                                        <span>Коммерческий директор сети <q>Открытая клиника</q>, генеральный директор Пресненского центра</span>
                                        <a href="#x" class="apply">+ Подать заявку</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="video-slider ">
                        <!--<div class="article__inline-video__video">-->
                            <!--<a class="article__inline-video__link js-insert-video" href="http://www.youtube.com/watch?v=150Q1u36OK0" data-type="click" data-icon="g-play"></a>-->
                        <!--</div>-->
                        <a class="article__inline-video__link js-insert-video" href="http://www.youtube.com/watch?v=X7U4kd_L0f0" data-type="click" data-icon="g-play">
                                <div class="video-slider__img">
                                    <img src="img/slider-bottom.jpg">
                                </div>
                        </a>
                        <div class="video-slider__inner">
                            <div class="video-slider__inner-img">
                                <img src="img/author.jpg">
                                <div class="video-slider__inner-text">
                                    <span class="video-slider__inner-name">Иванов<br>Иван Иванович</span>
                                    <span>Коммерческий директор сети <q>Открытая клиника</q>, генеральный директор Пресненского центра</span>
                                    <a href="#x" class="apply">+ Подать заявку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="navfourth">
                <div class="tariff-wrap">
                    <div class="tariff">
                        <div class="tariff-table">
                            <div class="tariff-row">
                                <div class="tariff-cell red">
                                    <p class="tariff-title">Проекты с нуля</p>
                                    <p>помещения от <span>800 м<sup>2</sup></span></p>
                                    <p>инвестиции от <span>710 000 руб.</span></p>
                                </div>
                                <div class="tariff-cell blue">
                                    <p class="tariff-title">Ребрендинг<br> действующих клиник</p>
                                    <p>помещения от <span>800 м<sup>2</sup></span></p>
                                    <p>инвестиции от <span>710 000 руб.</span></p>
                                </div>
                            </div>
                            <div class="tariff-row">
                                <div class="tariff-cell tariff-cell--red"><a href="#x">тариф <q>Старт</q></a></div>
                                <div class="tariff-cell tariff-cell--blue"><a href="#x">тариф <q>Эконом</q></a></div>
                            </div>
                            <div class="tariff-row">
                                <div class="tariff-cell tariff-cell--red"><a href="#x">тариф <q>Эконом</q></a></div>
                                <div class="tariff-cell tariff-cell--blue"><a href="#x">тариф <q>Бизнес</q></a></div>
                            </div>
                            <div class="tariff-row">
                                <div class="tariff-cell tariff-cell--red"><a href="#x">тариф <q>Бизнес</q></a></div>
                                <div class="tariff-cell tariff-cell--blue"><a href="#x">тариф <q>Премиум</q></a></div>
                            </div>
                            <div class="tariff-row">
                                <div class="tariff-cell tariff-cell--red"><a href="#x">тариф <q>Премиум</q></a></div>
                                <div class="tariff-cell"></div>
                            </div>
                        </div>
                        <a href="#x" class="go-to">На страницу тарифов</a>
                    </div>
                    <p class="offer">Будем рады предложить вам индивидуальные решения!</p>
                    <a href="#x" class="apply">+ Подать заявку</a>
                </div>
            </section>
            <!-- build:section layout.footer -->
            <!-- /build -->