<!-- build:section layout.header -->
<!-- /build -->
<main class="main-content">
    <div class="left-menu">
        <div class="left-menu__barcod">
            <ul>
                <li><a href="#x">Главная</a> /</li>
                <li>Франшиза сети</li>
            </ul>
        </div>
        <div class="text-transform"><span>Франшиза сети</span></div>
        <div class="left-menu__line">
            <a href="#navfirst" class="red"></a>
            <a href="#navsecond"></a>
            <a href="#navthird"></a>
            <a href="#navfourth"></a>

        </div>
        <div class="social-btn">
            <ul>
                <li class="twitter"><a href="#x">Twitter</a></li>
                <li class="facebook"><a href="#x">Facebook</a></li>
                <li class="vkontakte"><a href="#x">Vkontakte</a></li>
            </ul>
        </div>
    </div>
    <div class="right-path__tariff">
        <div class="tariff-title blue">
            <p>Старт <span>тариф</span></p>
            Выбрать тариф
        </div>
        <div class="tariff-table__wrap">
            <div class="tariff-table">
                <div class="tariff-table__tr">
                    <div class="tariff-table__td text-bold">Утверждение помещения и локации</div>
                    <div class="tariff-table__td">Оценка помещений и месторасположение заказчика</div>
                    <div class="tariff-table__td  text-price">30 000 руб.</div>
                    <div class="tariff-table__td">Мы проанализируем маркетинговую актиность в регионе, точно не скажем какой пациентопоток сможем гарантировать и в каких специальностях есть потребность у населения.</div>
                </div>
                <div class="tariff-table__tr">
                    <div class="tariff-table__td text-bold">Утверждение помещения и локации</div>
                    <div class="tariff-table__td">Оценка помещений и месторасположение заказчика</div>
                    <div class="tariff-table__td  text-price">30 000 руб.</div>
                    <div class="tariff-table__td">Мы проанализируем маркетинговую актиность в регионе, точно не скажем какой пациентопоток сможем гарантировать и в каких специальностях есть потребность у населения.</div>
                </div>
                <div class="tariff-table__tr">
                    <div class="tariff-table__td text-bold">Утверждение помещения и локации</div>
                    <div class="tariff-table__td">Оценка помещений и месторасположение заказчика</div>
                    <div class="tariff-table__td  text-price">30 000 руб.</div>
                    <div class="tariff-table__td">Мы проанализируем маркетинговую актиность в регионе, точно не скажем какой пациентопоток сможем гарантировать и в каких специальностях есть потребность у населения.</div>
                </div>
                <div class="tariff-table__tr">
                    <div class="tariff-table__td text-bold">Утверждение помещения и локации</div>
                    <div class="tariff-table__td">Оценка помещений и месторасположение заказчика</div>
                    <div class="tariff-table__td  text-price">30 000 руб.</div>
                    <div class="tariff-table__td">Мы проанализируем маркетинговую актиность в регионе, точно не скажем какой пациентопоток сможем гарантировать и в каких специальностях есть потребность у населения.</div>
                </div>
                <div class="tariff-table__tr">
                    <div class="tariff-table__td text-bold">Утверждение помещения и локации</div>
                    <div class="tariff-table__td">Оценка помещений и месторасположение заказчика</div>
                    <div class="tariff-table__td  text-price">30 000 руб.</div>
                    <div class="tariff-table__td">Мы проанализируем маркетинговую актиность в регионе, точно не скажем какой пациентопоток сможем гарантировать и в каких специальностях есть потребность у населения.</div>
                </div>
            </div>
            <div class="tariff-choose"><a href="#x">Выбрать тариф <q>Старт</q></a></div>
            <div class="tariff-more__wrap">
                <div class="tariff-more">
                    <p>Эконом<span>Тариф</span></p>
                    <a href="#x">Подробнее</a>
                </div>
                <div class="tariff-more">
                    <p>Бизнес<span>Тариф</span></p>
                    <a href="#x">Подробнее</a>
                </div>
                <div class="tariff-more">
                    <p>Премиум<span>Тариф</span></p>
                    <a href="#x">Подробнее</a>
                </div>
            </div>
        </div>
        <!-- build:section layout.footer -->
        <!-- /build -->